@import url('https://fonts.googleapis.com/css2?family= Krona+One & family= Montserrat:wght@400;600 & display =swap');

:root{
    --corPrincipal: #000000;
    --segundaCor: #F6F6F6;
    --terceriraCor: #F5B400;
    --fontePrincipal: 'Krona One', sans-serif;
    --fonteSecundaria:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: rgb(0,0,0);
    background: linear-gradient(132deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(236,144,21,1) 100%);
    color: var(--segundaCor);
}

.cabecalho{
    padding: 2em;
}

.cabecalho__menu {
    font-size: 2em;
    text-align: center;
    font-family: var(--fontePrincipal);
}

.cabecalho__menu__link {
    color: var(--terceriraCor);
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

.projetos {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.cabecalho__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: var(--terceriraCor);
    padding: 10px;
    font-family: var(--fontePrincipal);
}

.titulo__texto {
    text-align: center;
    font-size: 20px;
    padding: 0.3rem;
    font-family: var(--fonteSecundaria);
}

.strong{
    font-size: 1.5rem;
    color: var(--terceriraCor);
    margin: 0 4px;
}

.link {
    display: flex;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 21px;
    color: rgb(255, 68, 0);
    justify-content: center;

}
.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagens {
    border-radius: 20px;

}

.rodape{
    background-color: var(--terceriraCor);
    padding: 24px;
    font-family: var(--fontePrincipal);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--corPrincipal);
    margin-top: 20px;
}

@media(max-width: 1200px ){

    .cabecalho{
        width: auto;
        text-align: center;
        padding: 1em;
        align-items: center;
        font-size: 1rem;
    }

    .strong {
        font-size: 1rem;
    }

    .titulo__texto {
        font-size: 1rem;
        padding: 0.3rem;
        font-family: var(--fonteSecundaria);
    }

    .cabecalho__menu {
        flex-direction: column;
    }

    .cabecalho__menu__link {
        width: auto;
    }

    .rodape{
        width: auto;
    }

    .imagens {
        width: 20rem;
    }
}


